*{
    margin: 0;
    padding: 0;
}
h1{
    margin-left: 40%;
    font-size: 6vw;
}
h2{
    font-size: 4vw;
    text-shadow: 13px 12px 12px rgb(165, 42, 42);
}
a, a:visited, a:hover{
    text-decoration: none;
    color: rgb(165, 42, 42);
    font-size: 3vw;
    text-shadow: 13px 12px 9px rgba(0, 0, 0, 0.74);
}