/* Carousel */
.carousel.carousel-slider {
    border-radius: 15px 15px 0 0;
    margin: 0 auto;
    height: 500px;
}

.carousel .slide div > img {
    height: 500px;
    object-fit: cover;
    width: 100%;
}

/* Photo counter */
.carousel .carousel-status {
    top: 458px;
    font-size: 1rem;
    display: flex;
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
    color: var(--font-color);
    background-color: var(--quaternary);
    width: 6rem;
    border-radius: 10px 0 0;
}

/* Arrows */
.carousel .control-arrow:before, .carousel.carousel-slider .control-arrow:before {
    margin: 0;
}

.carousel.carousel-slider .control-arrow {
    font-size: 3px;
    margin: 0 5px;
    padding: 10px 14px;
    background-color: var(--primary);
    border-radius: 50%;
    height: min-content;
    top: 50%;
    opacity: 1;    
}

.carousel.carousel-slider .control-arrow:hover {
    background-color: var(--primary);
    transform: scale(1.1);
}

/* Thumbnails display */
.carousel .thumbs-wrapper {
    justify-content: center;
    margin: 4px;
    display: flex;
    align-items: center;
    height: 75px;
}

/* Thumbnail not selected */
.carousel .thumb {
    margin: 0 5px;
    max-height: 46px;
    border-radius: 10px;
    border-color: transparent;
}

.carousel .thumb img {
    object-fit: cover;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    border-radius: 5px;
}

/* Thumbnail selected */
.carousel .thumb.selected {
    border-color: transparent;
    transform: scale(1.1);
}

.carousel .thumb:focus {
    border-color: transparent;
}

/* Thumbnail hover */
.carousel .thumb:hover {
    border-color: transparent;
    transform: scale(1.1);
}

/*-----Gallery in tablet and phones-----*/
.photo-gallery-tablet {
    display: none;
}

