*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
header{
    background-color: #E6E6E6;
}
h1{
    margin-bottom: 3em;
    letter-spacing: 0.3em;
    padding: .3em;
    color: #005677;
    font-size: 2em;
    background-color: #C4C4C4;
}
.imgHeader{
    height: 7.75em;
    margin:auto;
}
dl{
    margin-left:25%;
    margin-right:10%;
    margin-bottom: 21.9vh;
}
dt,dd{
    text-align: left;
}
dt{
    margin-top: 1.5em;
    letter-spacing: 0.2em;
    font-weight: bolder;
    color: #005677;
    padding: 0.2em;
    background-color: #C4C4C4;
    font-size: 1.3em;
}
.primerTitulo{
    display: list-item;
    list-style:disc;
    font-style: italic;
}
dd{
    margin-left: 10%;
    margin-top: .5em;
}
h3{
    color: white;
    font-size: 1.8em;
    margin-left: 1em;
    display: inline;
    height: 1.6em;
}
.imgFooter{
    margin-top: 0.8em;
    margin-left: 1em;
    display: inline;
    height: 1.6em;
}
footer{
    padding: 0.4em;
    margin-bottom: 0;
    background-color: #005677;
}